{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="flex flex-wrap items-end">
        {% for auction in auctions %}
        <a class="inline-block m-4 p-4 border border-gray-300 rounded-lg cursor-pointer shadow-lg transform transition-transform hover:scale-105">
                <div class="w-96 h-96">
                    <img class="object-cover w-full h-full" src="{{ auction.picture }}" alt="{{ auction.auction_name }}">
                </div>
                <div class="item-description mt-2">
                    <h3 class="font-bold">{{ auction.auction_name }}</h3>
                    <p>Current price: {{ auction.actual_bid }}</p>
                    <p>Owner: {{ auction.owner }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <h2>Watchlist</h2>
    <ul>
        {% for auction in watchlist_auctions %}
            <li>
                Watchlist for current User: {{ auction.auction_name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}