{% extends "auctions/layout.html" %}
{% load static %}

{% block body%}
    <div class="flex flex-wrap justify-start mx-20 mt-10">
        {% for auction in auctions %}
        <div class="basis-1/3">
            <a href={% url 'details' auction.id %} class="no-underline hover:text-current hover:no-underline relative inline-block m-4 p-4 border-2 border-red-200 bg-red-100 rounded-lg cursor-pointer shadow-lg overflow-hidden">
                <div class="w-96 h-96 bg-white">
                    <img class="object-contain w-full h-full" src="{{ auction.picture }}" alt="{{ auction.auction_name }}">
                </div>
                <div class="item-description mt-2">
                    <h3 class="font-bold">{{ auction.auction_name }}</h3>
                    <span class="font-semibold">Current price: </span><span class="font-bold text-lime-500 text-2xl">{{ auction.actual_bid }} $</span>
                    <p>Owner: {{ auction.owner }}</p>
                </div>
                {% if auction.bid_open %}
                <div class="w-1/2 h-10 flex justify-center items-center absolute bg-blue-300 top-0 left-0 -rotate-45 translate-y-1/3 -translate-x-1/3 transition-transform duration-300 transform hover:scale-125">
                    <span class="font-bold text-white">Open</span>
                </div>
                {% else %}
                <div class="w-1/2 h-10 flex justify-center items-center absolute bg-red-400 top-0 left-0 -rotate-45 translate-y-1/3 -translate-x-1/3 transition-transform duration-300 transform hover:scale-125">
                    <span class="font-bold text-white">Closed</span>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="w-5 h-5 mr-1 mt-1 flex justify-center items-center absolute top-0 right-0 transition-transform duration-300 transform hover:scale-125">
                    {% if auction in request.user.watchlist.all %}
                    <form id="imageForm" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="remove_from_watchlist" value="{{ auction.id }}">
                        <input type="image" src="{% static 'auctions/close.png' %}" class="w-5 h-5  mt-1">
                    </form> 
                    {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="add_to_wathlist" value="{{ auction.id }}">
                        <input type="image" src="{% static 'auctions/eye.png' %}" class="w-6 h-6  mt-1">
                    </form> 
                    {% endif %}
                </div>
                {% endif %}
            </a>
        </div>
        {% endfor %}
        {% if listing_from %} 
            {% include "auctions/create_listing.html" %}  
        {% endif %}  
    </div>
{% endblock %}